APP_PORT=3000
APP_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=siakad_mini
DB_SSLMODE=disable
DB_MAX_CONNS=10

JWT_SECRET=supersecretjwtkeywithmorethan32bytes123456!
JWT_ISSUER=siakad-mini
JWT_EXPIRES_IN=3600
