# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Environment files
.env

# PDF files
*.pdf

# Reports and documentations
*laporan*
*LAPORAN*
*WALKTHROUGH*
*walkthrough*
*.py
*.png
screenshots/

# Logs
*.log
logs/

# Test artifacts
scratch/

